@keyframes from-top {
  from {
    transform: translateY(-100%);
  }
}

:host {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem;
  .app-notification {
    background-color: black;
    color: white;
    animation: from-top .3s;
    transition: .3s;
    border-radius: .75rem;
    font-size: 0.875rem;
    .app-notification__icon {
      font-size: 1.5rem;
    }
    .app-notification__header {
      opacity: .8;
    }
    .app-notification__text {
      opacity: .6;
    }
    &.app-notification--fading {
      opacity: 0;
    }
    &.app-notification--highLighted {
      transform: scale(1.025);
    }
    &.app-notification--on-light {
      // border: 2px solid rgba($color: #ffffff, $alpha: 0.4);
      background-color: #f6f6f6;
      color: black;
    }
  }
}

@media (min-width: 481px) {
  :host {
    width: 480px;
    max-width: 100vw;
  }
}