<div
  class="app-notification l-flex l-pv-l l-ph-xl"
  *ngIf="current"
  [class.app-notification--fading]="isFading"
  [class.app-notification--highLighted]="isHighLighted"
  [class.app-notification--on-light]="!isLight"
>
  <div class="app-notification__icon l-mr-xl">
    {{ current.icon || "⚠️" }}
  </div>
  <div class="app-notification__content">
    <div class="app-notification__header l-mb-xs" *ngIf="current.name">
      {{ current.name }}
    </div>
    <div class="app-notification__text">
      {{ current.message }}
    </div>
  </div>
</div>
