@import 'variables';

:host {
  display: flex;
  flex: auto;
}

.finish-screen {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  app-player-avatar {
    animation: winner 1s infinite alternate;
  }
  .btn--primary {
    align-self: stretch;
  }
}