<div class="l-pv-xxl l-flex-col l-flex-auto l-maw-f">
  <app-players-bar
    [players]="players"
    [withStatus]="!isLobbyControlsVisible"
  ></app-players-bar>
  <app-setup-card
    *ngIf="isSetupVisible"
    [setup]="setup"
    [isLeading]="isLeading"
    [turnCount]="(turnCount$ | async) || 1"
    [turnTimer]="turnTimer$ | async"
  >
  </app-setup-card>

  <div class="l-flex-auto" *ngIf="isLobbyControlsVisible"></div>

  <div class="l-mh-xxl l-stack-m l-mt-s" *ngIf="isHandVisible">
    <app-punch-line-button
      *ngFor="let card of hand; let i = index"
      (select)="makeTurn(card.id)"
      [disabled]="!isHandActive"
      [selected]="card.id === chosenUuid"
    >
      {{ card.toCase(setup?.case || "nom") }}
    </app-punch-line-button>
    <button class="btn--secondary l-mt-s" (click)="refreshHand()">
      Обновить карты
      <img src="assets/img/refresh.svg" alt="" />
    </button>
  </div>

  <div class="l-mh-xxl l-stack-m l-mt-s" *ngIf="isTableVisible">
    <app-table-slot
      *ngFor="let f of [].constructor(table.length); let i = index"
      [slot]="table[i]"
      [case]="setup?.case"
      [isActive]="isTableActive"
      (open)="openSlot(i)"
      (pick)="pickWinner(table[i].card)"
    ></app-table-slot>
  </div>

  <div class="l-mh-xxl l-stack-m" *ngIf="isLobbyControlsVisible">
    <button class="btn--secondary" (click)="share()">
      Пригласить
      <img src="assets/img/share.svg" alt="" />
    </button>
    <button
      *ngIf="isOwner"
      class="btn--secondary"
      (click)="settingsSheet.open()"
    >
      Настроить
      <img src="assets/img/settings.svg" alt="" />
    </button>
    <button class="btn--primary" (click)="start()" [disabled]="!isOwner">
      Начать игру
    </button>
  </div>

  <ng-container *ngIf="isFinishScreenVisible">
    <div
      class="l-mh-xl l-flex-auto l-flex l-flex-col l-flex-center l-flex-middle l-stack-xxl"
    >
      <div class="t-h2">Игра окончена!</div>
      <app-player-avatar
        [player]="winner"
        [isWinner]="true"
        [withStatus]="true"
        size="large"
      ></app-player-avatar>
      <div class="s-t-secondary">
        {{ winner?.name }} набрал {{ winner?.score }} очков за
        {{ turnCount$ | async }} ходов
      </div>
    </div>
    <div class="l-mh-xxl l-stack-m" *ngIf="isOwner">
      <button class="btn btn--secondary" (click)="start()">
        Сыграть ещё раз
        <img src="assets/img/refresh.svg" alt="" />
      </button>
      <button class="btn--secondary" (click)="goEndless()">Продолжить</button>
    </div>
  </ng-container>
</div>

<app-bottom-sheet #settingsSheet>
  <div class="t-h2 l-mb-3xl">Настройки</div>
  <div class="l-stack-xl">
    <div class="l-stack-m">
      <span class="s-t-secondary">Колода</span>
      <select class="btn--secondary">
        <option value="default" selected>Стандартная (18+)</option>
      </select>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Очков для победы</span>
      <app-radio-group
        [(ngModel)]="scoreToWin"
        [options]="scoreOptions"
      ></app-radio-group>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Таймер хода</span>
      <app-radio-group
        [(ngModel)]="turnDuration"
        [options]="turnDurationOptions"
      ></app-radio-group>
    </div>
  </div>
</app-bottom-sheet>
