<div class="l-pv-xxl l-flex-col l-flex-auto l-maw-f">
  <div class="l-ph-xxl l-row-l l-scroll-h">
    <app-player-avatar
      *ngFor="let player of players"
      [player]="player"
      [withStatus]="!isLobbyControlsVisible"
    ></app-player-avatar>
  </div>

  <div *ngIf="isSetupVisible" class="l-ph-xxl l-pv-4xl t-h2 setup-card">
    <div class="l-mb-s l-flex l-flex-middle setup-card__subtext">
      <img
        *ngIf="isLeading"
        src="assets/img/lead-turn-mark.svg"
        class="l-mr-xs"
        alt="(Ведущий)"
      />
      Раунд #{{ turnCount }}:
    </div>
    <div class="t-h2">
      {{ setup?.text }}
    </div>
  </div>

  <div class="l-flex-auto" *ngIf="isLobbyControlsVisible"></div>

  <div class="l-mh-xxl l-stack-m l-mt-s" *ngIf="isHandVisible">
    <app-punch-line-button
      *ngFor="let card of hand; let i = index"
      (select)="makeTurn(card.uuid.toString())"
      [disabled]="!isHandActive"
      [selected]="card.uuid === chosenUuid"
    >
      {{ card.toCase(setup?.case || "nom") }}
    </app-punch-line-button>
    <button class="btn--secondary l-mt-s" (click)="refreshHand()">
      Обновить карты
      <img src="assets/img/refresh.svg" alt="" />
    </button>
  </div>

  <div class="l-mh-xxl l-stack-m l-mt-s" *ngIf="isTableVisible">
    <app-table-slot
      *ngFor="let item of table; let i = index"
      [slot]="item"
      [case]="setup?.case"
      [isActive]="isTableActive"
      (open)="openSlot(i)"
      (pick)="pickWinner(item.card)"
    ></app-table-slot>
  </div>

  <div class="l-mh-xxl l-stack-m" *ngIf="isLobbyControlsVisible">
    <button class="btn btn--secondary" (click)="share()">
      Пригласить
      <img src="assets/img/share.svg" alt="" />
    </button>
    <button class="btn--primary" (click)="start()">Начать игру</button>
  </div>
</div>
