<div class="l-p-xxl l-flex-col l-flex-end l-flex-auto a-t-short">
  <div class="l-flex l-flex-center l-mb-xxl">
    <img src="assets/img/logo.svg" alt="" />
  </div>
  <div class="app-main-page__profile">
    <button class="btn--icon-only" (click)="prevAvatar()">
      <img src="assets/img/prev.svg" alt="" />
    </button>
    <div class="app-main-page__avatar-selector">
      {{ (avatar$ | async)?.emoji }}
    </div>
    <button class="btn--icon-only" (click)="nextAvatar()">
      <img src="assets/img/next.svg" alt="" />
    </button>
  </div>

  <div class="l-stack-m">
    <input
      class="btn--secondary-inverse"
      placeholder="Как тебя зовут?"
      [(ngModel)]="name"
      (ngModelChange)="saveName($event)"
    />
    <button class="btn--primary-inverse" (click)="start()">
      {{ lobbyToken ? "Присоединиться" : "Играть" }}
    </button>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
