@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  min-height: 4.5rem;
  border: 2px dashed $text-01;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  pointer-events: none;
  justify-content: space-between;
  &.--empty {
    opacity: .2;
  }
  &.--face-down {
    border-style: solid;
    opacity: .4;
  }
  &.--face-up {
    border-style: solid;
    opacity: 1;
  }
  &.--active {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
  }
  &.--picked {
    background-color: $text-01;
    color: $bg-01;
    pointer-events: none;
  }
}

@keyframes author {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.5) rotate(10deg);
  }
  to {
    transform: none;
  }
}

.table-slot__author {
  font-size: 0.75rem;
  text-align: right;
  opacity: .6;
  animation: author .2s;
}
