@import 'variables';

.table-slot__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 4.5rem;
  border: 2px dashed $text-01;
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  pointer-events: none;
  justify-content: space-between;
  transition: .3s;
  color: $text-01;
}

:host.--empty .table-slot__card {
  opacity: .2;
}

:host.--face-down .table-slot__card {
  border-style: solid;
  opacity: .4;
}

:host.--face-up .table-slot__card {
  border-style: solid;
  opacity: 1;
  border-color: $border-secondary;
}

:host.--active .table-slot__card {
  opacity: 1;
  cursor: pointer;
  border-color: $border-secondary;
  pointer-events: auto;
}

:host.--picked .table-slot__card {
  background-color: $text-01;
  color: $bg-01;
  pointer-events: none;
}

@keyframes text {
  from {
    opacity: 0;
  }
}

.table-slot__author {
  font-size: 0.75rem;
  text-align: right;
  width: 100%;
  opacity: .6;
}
