@import 'variables';
@import 'animations';
@import 'helpers';

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@400;500&display=swap');

html, body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  color: $text-01;
  font-size: 16px;
  overscroll-behavior: none;
}

body {
  background-color: $bg-01;
  transition: background-color .2s;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}


h2, .t-h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

p, .t-p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

a, .link {
  color: $text-01;
  &:visited {
    color: $text-01;
  }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
    &:active {
      opacity: .8;
      transform: scale(.95);
    }
}

:focus-visible {
  outline: none;
}

app-root {
  display: flex;
  flex-direction: column;
  max-width: $max-content-width;
  height: 100%;
  margin: 0 auto;
}

button, input, .btn, .input, select, .select {
  display: flex;
  justify-content: space-between;
  background: none;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  transition: .2s;
  text-decoration: none;
  text-align: left;
}

button, .btn {
  cursor: pointer;
  touch-action: manipulation;
}

input, .input {
  background-image: url(/assets/img/edit.svg);
  background-repeat: no-repeat;
  background-position: right 1.25rem top 1rem;
  background-color: rgba($color: $text-01, $alpha: 0.4);
  border-color: transparent;
  backdrop-filter: blur(3rem);
  &::placeholder {
    color: $border-secondary-inverse;
  }
}

select, .select {
  appearance: none;
  background-image: url(/assets/img/select-shevron.svg);
  background-repeat: no-repeat;
  background-position: right 1.25rem top 1rem;
}

input:focus, .input:focus {
  border-color: $bg-01;
}

.btn--icon-only {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
}

.btn--primary {
  color: $bg-01;
  background-color: $bg-btn-primary;
  &:hover {
    background-color: white;
  }
  &:disabled {
    opacity: .4;
    pointer-events: none;
  }
  border: none;
}

.btn--primary-inverse {
  color: $text-01;
  background-color: $bg-01;
  &:hover {
    background-color: black;
  }
  &:disabled {
    opacity: .4;
    pointer-events: none;
    &>img {
      opacity: .4;
    }
  }
  border: none;
}

.btn--secondary {
  padding: 0.875rem 1.125rem;
  color: $text-01;
  background-color: $bg-btn-secondary;
  border-color: transparent;
  &:hover {
    background-color: $bg-btn-secondary-hover;
  }
  &:disabled {
    opacity: .4;
    pointer-events: none;
    color: $text-02;
    &>img {
      opacity: .4;
    }
  }
  &.--selected {
    border-color: $border-secondary;;
  }
}

.btn--tertiary {
  color: $text-01;
  border-color: $border-secondary;
  background-color: none;
  &:hover {
    border-color: $text-01;
  }
  &:disabled {
    color: $border-secondary;
    pointer-events: none;
    &>img {
      opacity: .4;
    }
  }
}

.overlay {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-01-translucent;
  transition: opacity .3s;
  opacity: 0;
  pointer-events: none;
}

.overlay--open {
  opacity: 1;
  pointer-events: all;
}

.bottom-sheet__wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  transition: transform .2s;
  align-items: center;
}

.bottom-sheet {
  width: 100%;
  max-width: 480px;
  background-color: $bg-01-elevated;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2.5rem 1.5rem 2rem;
}