@import 'variables';
@import 'animations';
@import 'helpers';

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Roboto:wght@400;500&display=swap');

html, body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  color: $text-01;
  font-size: 16px;
  overscroll-behavior: none;
}

body {
  background-color: $bg-01;
  transition: background-color .2s;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
    &:active {
      opacity: .8;
      transform: scale(.95);
    }
}

:focus-visible {
  outline: none;
}

app-root {
  display: flex;
  flex-direction: column;
  max-width: $max-content-width;
  height: 100%;
  margin: 0 auto;
}

button, input, .btn, .input {
  display: flex;
  justify-content: space-between;
  background: none;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  transition: .2s;
  text-decoration: none;
  text-align: left;
}

button, .btn {
  cursor: pointer;
  touch-action: manipulation;
  &::placeholder {
    color: $border-secondary;
  }
}

input, .input {
  background-image: url(../assets/img/edit.svg);
  background-repeat: no-repeat;
  background-position: right 1.25rem top 1rem;
}

input:focus, .input:focus {
  border-color: $bg-01;
}

.btn--icon-only {
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
}

.btn--primary {
  color: $bg-01;
  background-color: $bg-btn-primary;
  &:hover {
    background-color: white;
  }
}

.btn--primary-inverse {
  color: $text-01;
  background-color: $bg-01;
  &:hover {
    background-color: black;
  }
  &:disabled {
    opacity: .4;
    pointer-events: none;
    &>img {
      opacity: .4;
    }
  }
}

.btn--secondary {
  color: $text-01;
  border-color: $border-secondary;
  background-color: none;
  &:hover {
    border-color: $text-01;
  }
  &:disabled {
    color: $border-secondary;
    pointer-events: none;
    &>img {
      opacity: .4;
    }
  }
}

.btn--secondary-inverse {
  color: $bg-01;
  border-color: $border-secondary-inverse;
  background-color: none;
}