$bg-01: #060606;
$bg-01-translucent: rgba(6, 6, 6, 0.5);
$bg-btn-primary: rgba(255, 255, 255, 0.9);
$text-01: #F6F6F6;
$text-01-blend: #D6D6D6;
$border-secondary: rgba(255, 255, 255, 0.4);
$border-secondary-inverse: rgba(6, 6, 6, 0.4);

$max-content-width: 480px;