@import 'variables';

.header {
  position: sticky;
  top: 0;
  background-color: $bg-01;
}

.event {
  font-size: 0.75rem;
}

.event__indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: $text-02;
  &.connected {
    background-color: cornflowerblue;
  }
  &.disconnected {
    background-color: orange;
  }
  &.message_received {
    background-color: greenyellow;
  }
  &.message_sent {
    background-color: green;
  }
  &.http_error {
    background-color: brown;
  }
  &.ws_error {
    background-color: red;
  }
}

.event__timestamp {
  color: $text-02;
}

.event__data {
  white-space: pre-wrap;
  color: $text-02;
}