<div class="t-h2 l-p-xxl header">События</div>
<div class="l-ph-xxl l-pb-xxl">
  <div class="l-stack-l">
    <div class="l-flex-col event" *ngFor="let event of events">
      <div class="l-row-xs l-flex-middle l-mb-s">
        <div class="event__indicator" [class]="event.type"></div>
        <div class="event__type">{{ event.type }}</div>
        <div class="event__timestamp">
          {{ event.timestamp | date : "HH:mm:ss" }}
        </div>
      </div>
      <div class="event__data l-ml-l">
        {{ getDataString(event.data) }}
      </div>
    </div>
  </div>
</div>
