<app-progress-bar
  [maxValue]="turnDuration"
  [value]="turnTimer$ | async"
></app-progress-bar>
<div class="l-pv-xxl l-flex-col l-flex-auto l-maw-f">
  <app-players-bar [players]="players" [withStatus]="true"></app-players-bar>
  <app-setup-card
    *ngIf="isSetupVisible"
    [setup]="setupCard"
    [turnCount]="currentIndex + 1"
    [isLeading]="isLeading"
  ></app-setup-card>
  <div class="l-mh-xl l-stack-m l-mt-s" *ngIf="isHandVisible">
    <app-punch-line-button
      *ngFor="let card of hand; let i = index"
      [disabled]="!isActive"
      (select)="select(i)"
      [style.animationDelay.s]="i * 0.05"
    >
      {{ card.toCase(setupCard.case) }}
    </app-punch-line-button>
    <div class="l-pt-l l-mt-a l-stack-m">
      <button class="btn--secondary" (click)="share()">
        Пригласить
        <img src="assets/img/share.svg" alt="" />
      </button>
      <button class="btn--secondary" (click)="settingsSheet.open()">
        Настроить
        <img src="assets/img/settings.svg" alt="" />
      </button>
      <button class="btn--secondary" (click)="testCountdown()">
        Запустить отсчёт
      </button>
    </div>
  </div>
  <div class="l-mh-xl l-stack-m l-mt-s" *ngIf="isTableVisible">
    <app-table-slot
      *ngFor="let n of [].constructor(table.length); let i = index"
      [slot]="table[i]"
      [case]="setupCard.case"
      [isActive]="isTableActive"
      (open)="testTableFlip(i)"
      (pick)="testPick(i)"
    ></app-table-slot>
  </div>
  <ng-container *ngIf="isFinishScreenVisible">
    <div
      class="l-mh-xl l-flex-auto l-flex l-flex-col l-flex-center l-flex-middle l-stack-xxl"
    >
      <app-player-avatar
        [player]="winner"
        [isWinner]="true"
        [withStatus]="true"
        size="large"
      ></app-player-avatar>
      <div class="t-h2">Игра окончена!</div>
      <div class="s-t-secondary"></div>
    </div>
    <div class="l-mh-xxl l-stack-m">
      <button class="btn btn--secondary">Сыграть ещё раз</button>
      <button class="btn--secondary">Продолжить</button>
    </div>
  </ng-container>
</div>

<app-bottom-sheet #settingsSheet>
  <div class="t-h2 l-mb-3xl">Настройки</div>
  <div class="l-stack-xl">
    <div class="l-stack-m">
      <span class="s-t-secondary">Колода</span>
      <select class="btn--secondary">
        <option value="default" selected>Стандартная (18+)</option>
      </select>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Очков для победы</span>
      <app-radio-group
        [(ngModel)]="scoreToWin"
        (ngModelChange)="testRadio($event)"
        [options]="scoreOptions"
      ></app-radio-group>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Таймер хода</span>
      <app-radio-group
        [(ngModel)]="turnTimer"
        (ngModelChange)="testRadio($event)"
        [options]="turnTimerOptions"
      ></app-radio-group>
    </div>
  </div>
</app-bottom-sheet>
