<div class="l-pv-xxl l-flex-col l-flex-auto l-maw-f">
  <div class="l-ph-xl l-row-l l-scroll-h">
    <app-player-avatar
      *ngFor="let player of players"
      [player]="player"
      [withStatus]="true"
    ></app-player-avatar>
  </div>
  <div
    class="l-pt-l l-ph-xl l-pv-4xl t-h2 app-game-page__setup-card"
    [class.app-game-page__setup-card--with-blur]="isBlurApplied"
  >
    <div class="l-mb-s l-flex l-flex-middle setup-card__subtext">
      <img
        *ngIf="isLeading"
        src="assets/img/lead-turn-mark.svg"
        class="l-mr-xs"
        alt="(Ведущий)"
      />
      Раунд #{{ currentIndex + 1 }}:
    </div>
    {{ setupCard.text }}
  </div>
  <div class="l-mh-xl l-stack-m l-mt-s" *ngIf="isHandVisible">
    <app-punch-line-button
      *ngFor="let card of hand; let i = index"
      [disabled]="!isActive"
      (select)="select(i)"
      [style.animationDelay.s]="i * 0.05"
    >
      {{ card.toCase(setupCard.case) }}
    </app-punch-line-button>
    <div class="l-pt-l l-mt-a l-stack-m">
      <button class="btn--secondary" (click)="settingsSheet.open()">
        Показать настройки
      </button>
      <button class="btn--secondary" (click)="testCountdown()">
        Запустить отсчёт
      </button>
    </div>
  </div>
  <div class="l-mh-xl l-stack-m l-mt-s" *ngIf="isTableVisible">
    <app-table-slot
      *ngFor="let n of [].constructor(table.length); let i = index"
      [slot]="table[i]"
      [case]="setupCard.case"
      [isActive]="isTableActive"
      (open)="testTableFlip(i)"
      (pick)="testPick(i)"
    ></app-table-slot>
  </div>
</div>

<app-bottom-sheet #settingsSheet>
  <div class="t-h2 l-mb-3xl">Настройки</div>
  <div class="l-stack-xl">
    <div class="l-stack-m">
      <span class="s-t-secondary">Колода</span>
      <select class="btn--secondary">
        <option value="default" selected>Стандартная (18+)</option>
      </select>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Очков для победы</span>
      <app-radio-group
        [(ngModel)]="scoreToWin"
        (ngModelChange)="testRadio($event)"
        [options]="scoreOptions"
      ></app-radio-group>
    </div>
    <div class="l-stack-m">
      <span class="s-t-secondary">Таймер хода</span>
      <app-radio-group
        [(ngModel)]="turnTimer"
        (ngModelChange)="testRadio($event)"
        [options]="turnTimerOptions"
      ></app-radio-group>
    </div>
  </div>
</app-bottom-sheet>
