@import 'variables';

:host {
  display: flex;
  flex: auto;
}

.app-game-page__setup-card {
  position: sticky;
  top: 0;
  font-weight: 500;
  background-color: $bg-01;
  line-height: 2rem;
  white-space: pre-line;
}

.app-game-page__setup-card--with-blur {
  background-color: $bg-01-translucent;
  backdrop-filter: blur(2rem);
}